# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Node
node_modules/
npm-debug.log

# Reports (generados)
reports/*.json
reports/*.txt
!reports/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
